<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>
<hr />
<%= link_to "Add Artist", new_artist_path %>
<br/>
<h3>Your Artists</h3>
<ul>
    <% @artists.each do |artist| %>
        <li>
            <h6><%= artist.artist_name %> | Seen in Concert? <%= artist.seen_live %></h6>
        </li>
    <% end %>
</ul>
