<h1>Add Artist</h1>
<%= form_for @artist do |f| %>
    <div class = "field">
        <%= f.label :artist_name %>
        <%= f.text_field :artist_name, required: true, placeholder: "Artist Name" %>
    </div>
         <%= f.submit class: "waves-effect waves-light btn" %>
<% end %>
<div>
    <%= link_to 'Back', @artists_path %>
</div>

 



